<h3>Total Number of People: <%= @total_number_of_people %></h3><br>
<% @display_information.each do |info| %>
  <h3>Name</h3>
  <%= info.name %><br>
  <h3>Photo</h3>
  <%= info.photo %><br>
  <h3>Allies</h3>
  <% if info.allies.empty? %>
    <%= "None" %>
  <% else %>
    <%= info.allies.join %><br>
  <% end %>
  <h3>Enemies</h3>
  <% if info.enemies.empty? %>
    <%= "None" %>
  <% else %>
    <%= info.enemies.join %><br>
  <% end %>
  <h3>Affiliation</h3>
  <%= info.affiliations %><br>
  <br>
<% end %>
